@import "tailwindcss";

@theme inline {
  --font-inter: var(--font-inter);
  --font-mono: var(--font-geist-mono);

  --color-background: #111525;
  --color-surface: #182033;
  --color-elevated: #25344a;
  --color-border: #3a4c6dcc;
  --color-overlay: #11152580;

  --color-accent: #ff007a;
  --color-accent-foreground: #ffffff;
  --color-accent-muted: rgba(255, 0, 122, 0.35);
  --color-accent-glow: rgba(255, 0, 122, 0.6);
}

html {
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none;
  }
}

body {
  @apply bg-surface font-inter text-white;
}

* {
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    width: 4px;
  }
  &::-webkit-scrollbar-track {
    @apply bg-transparent;
  }
  &::-webkit-scrollbar-thumb {
    @apply bg-elevated rounded-sm;
  }
}

@layer base {
  button:not([disabled]),
  [role="button"]:not([disabled]) {
    cursor: pointer;
  }
}
